@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f8fafc; 
  

  background-image: linear-gradient(to bottom, #ffffff, #e0f7fa, #f0f9ff);
  

  min-height: 100vh;
}